body{
  font-family: 'Roboto Mono', monospace;
}
html {
  scroll-behavior: smooth;
}
footer{
  height:50px;
}

.quote-text{
  font-family: 'Quicksand', sans-serif;
}

.background-image{
  background-image: url(Lego-Red.jpg);
  background-size: cover;
  background-position: top;
}

.text-shadow{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.logo-short{
  height: 75px;
}
.tall{
  min-height: 350px;
}
.short{
  max-height: 300px;
}


.no-border{
  border: none;
}

.thick-border{
  border-style: solid;
  border-width: 5px;
}

.picture-normal{
  max-height: 300px;
  max-width: 300px;
}

.thin-line{
  height: 15px;
  width: 100%;
  background-color: #343A40;
}



.shrink{
  height:200px
}


@media only screen and (max-width: 600px){
  .mobile-hide{
    display:none
  }
  .push-apart{
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px){
  .spill{
    height: 250px;
    width: 24rem;
  }
  .push-down{
    margin-top: 50px;
  }
  
}

