body{
  font-family: 'Roboto Mono', monospace;
}

.quote-text{
  font-family: 'Quicksand', sans-serif;
}

.background-image{
  background-image: url(Lego-Green.jpg);
  background-size: cover;
  background-position: top;
}

.text-shadow{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.short{
  height: 75px
}
.tall{
  height: 400px;
}

.no-border{
  border: none;
}

.thick-border{
  border-style: solid;
  border-width: 5px;
}

.picture-normal{
  max-height: 300px;
  max-width: 300px;
}

.thin-line{
  height: 15px;
  width: 100vh;
  background-color: black;
}

.push-down{
  margin-top: 100px;
}


@media only screen and (max-width: 600px){
  .mobile-hide{
    display:none
  }
}


